/* Estilo Geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #000;
    height: 100vh;
}
button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #00FF08;
    transform: scale(1.15);
}
h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}
h2.titulo span{
    color: #00FF08;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00FF08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00FF08;
    font-size: 15px;
    cursor: pointer;
    margin:  0 5px;
    transition: 0.2s
}



/* Estilo do Cabeçalho */
header{ 
    padding: 35px 4%;
    
}
header .interface .logo img{
    height: 100%;
    width: 110px;
}
header > .interface{
    margin: 20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 99999988;
    height:110px;
    background-color: #000;
    left: 0;
    right: 0;
    top: 0;
}

/* ESTILO DA DIVISÃO */
section.divisao{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 110PX;
    padding: 10px 0%; 
    z-index: 99999977;
    box-shadow: 0 0 20px 1px #ffffff1d;
    background-color: #000;

}
/* Links */
header a{                           
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
   
}

/* Links quando o ponteiro do mouse passa por cima */
header nav.menu-desktop a:hover{
    color: #fff;
    transform: scale(1.15);
}

header nav ul{
    list-style-type: none;
}
header nav.menu-desktop ul li{
    font-size: 18px;
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO DO MENU MOBILE*/

.btn-abrir-menu i {
    color: #00FF08;
    font-size: 40px;
    position: fixed;
    top: 30px;
    right: 20px;
}
.menu-mobile{
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999999;
    width: 0%;
    overflow: hidden;
    transition: .2s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-fechar{
    color: #00FF08;
    font-size: 35px;
}

.btn-fechar{
    padding: 20px 5%;
}

.overlay-menu{
    background-color: #000000df;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0 ;
    right: 0;
    z-index: 888888888;
    display: none;
}
.menu-mobile nav ul{
    text-align: right;
} 
.menu-mobile nav ul li a{
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    padding: 40px 4%;
    display: block;
}
.menu-mobile nav ul li a:hover{
    background-color: #00FF08;
    color: #000;
}
.txt-topo-site{
    color: #fff;
}
/* Topo do Site -- Texto, Foto Flutuante e Paragrafo */

section.topo-do-site{
    padding: 40px 4%;
}
section.topo-do-site .flex{
    align-items: center;
    justify-content: center
}
.topo-do-site .txt-topo-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}
.topo-do-site .txt-topo-site h1 span{
    color: #00FF08;
    font-size: 64px;
}
.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
    font-size: 19px;
}
.topo-do-site .txt-topo-site p span{
    color: #00FF08;
    font-size: 19px;
}

.topo-do-site .img-topo-site img{
    width: 70%;
    position: relative;
    animation: flutuar 1.5s ease-in-out infinite alternate;
    
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 35px;
    }
}

/* ESPECIALIDADES */
section.especialidades{
    padding: 150px 4%;
}
section.especialidades .flex{
    gap: 60px;
}
.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    margin: 45px 8px;
    border-radius: 25px;
    transition: .2s;
    max-width: 50%;
    max-height: 30%;
}
.especialidades .especialidades-box:hover{
    transform: scale(1.15);
    box-shadow: 0 0 15px #00ff083d;
}
.especialidades .especialidades-box i{
    font-size: 64px;
    color: #00FF08;
}
.especialidades .especialidades-box h3{
    font: 32px;
    margin: 15px 0;
}

/* SOBRE */
section.sobre{
    padding: 140px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.sobre .txt-sobre{
    color: #FFF
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;

}
.sobre .txt-sobre h2 span{
    color: #00FF08;
    display: block;
}
.sobre .txt-sobre p{
    margin: 10px 0 ;
    text-align: justify;
}
.sobre .txt-sobre p span{
    color: #00FF08;
}

.img-sobre img{
    max-width: 320px; 
    border-radius: 35px
}

/* ESTILO DO PORTIFÓLIO */
section.portifolio{
    padding: 120px 4%
    /*box-shadow: 0 0 40px 10px #ffffff1d; */
}

section.portifolio .flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2vh;
    margin-top: 20px; 
}

.img-port{
    width: 360px;
    height: 200px;
    background-color: #00FF08;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 5px;
    position: relative;

    cursor: pointer;
    transition: transform 0.4s ease; 
}
.img-port img{
    width: 100%;
    height: 100%;
}

/* Estilos para Imagem Centralizada */
.expanded {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2.9); /* Centraliza e expande */
    z-index: 99999999999999; /* Traz a imagem para frente */
    box-shadow: 0 0 5px #fff; /* Sombra para destaque */
    max-width: 80%; /* Limita a largura da imagem a 90% da largura da tela */
    max-height: 80%; /* Limita a altura da imagem a 90% da altura da tela */
}
/* Estilos para Overlay */
.overlay-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
    z-index: 999; /* Coloca o overlay atrás da imagem expandida */
    display: none; /* Inicia escondido */
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    cursor: pointer;
  }


.img-port:hover{
    background-position: 100% 0%;
}

.overley {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    opacity: 0;
    color: #00FF08;
    border: 3px solid #00FF08; /* Adicionando a borda */
    padding: 10px; /* Espaçamento interno opcional */
    /*text-shadow: 
    -2px -2px 0 #FFF,  
     2px -2px 0 #FFF,
    -2px  2px 0 #FFF,
     2px  2px 0 #FFF; /* Contorno em preto */
}
.texto-bordado {
    border: 2px solid #00FF08; /* Borda ao redor do texto */
    padding: 5px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada (opcional) */
    color: #00FF08; /* Cor do texto */
}
.overley:hover {
    opacity: 1;
}

/* ESTILO FORMULÁRIO */
section.formulario{
    padding: 130px 4%;

}
form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}
form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #FFF;

}

form textarea{
    resize: none;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}
form .btn-enviar input{
    width: 120px;
    background-color: #00FF08;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO DO RODAPÉ */
footer .interface .line-footer .logo-footer img{
    width: 100px;
}

footer {
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff36;
    color: #FFF;
}

footer .flex{
    justify-content: space-between;

}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #00FF08;
}

footer .line-footer p i{
    color: #00FF08;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}
.btn-abrir-menu{
display: none;
}
/* ===================================================================*/
/* ===================================================================*/
/* ===================================================================*/
/* ===================================================================*/
/* ===================================================================*/
/* ===================================================================*/
/* ===================================================================*/
/* ===================================================================*/


@media screen and (max-width: 1020px){
    /* CLASSES GERAIS*/
    .flex{
        flex-direction: column;
    }
    .topo-do-site .flex{
        flex-direction: column-reverse;
    }
    h2.titulo{
        font-size: 32px;
        line-height: 32px;
    }


    /*CABECALHO */
    .btn-abrir-menu{
        display: block;
        position: sticky;
        top: 0;
    }
    
    header{ 
        padding: 20px 4%;
    }
    .menu-desktop, .btn-contato{
        display: none;
    }


    /* TOPO DO SITE*/

    section.topo-do-site .flex{
        gap: 40px;
    }
    section.topo-do-site{
        padding: 65px 8%;
    }
    .topo-do-site .txt-topo-site h1{
        font-size: 30px;
    }
    
    .topo-do-site .img-topo-site img{
        width: 100%;

    }
    /* HABILIDADES */
    section.especialidades{
        padding: 150px 8%;
    }

    section.especialidades .flex{
        gap: 5px;
    }

    /* SOBRE */
    section.sobre{
        padding: 150px 8%;
    }

    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }
    
    section.especialidades .interface .flex .especialidades-box{
        padding: 10px 8%;
        max-width: 1200px;
    }

    
    /*PORTIFÓLIO*/
    section.portifolio{
        padding: 150px 8%;
    }
    .img-port{
        width: 100%;
        max-width: 360px;
        max-height: 200px;
        margin: 0 auto;
        
    }
    section.portifolio .flex{
        gap: 60px;
    }
       /*CONTATO*/
       section.formulario{
        padding: 150px 8%;
    }

    /*RODAPÉ*/
    footer .flex{
        gap: 30px;
    }

    footer .line-footer{
        text-align: center;
    }

    /*IMAGEM EXPANDIDA*/
    .expanded {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1); /* Centraliza e expande */
        z-index: 99999999; /* Traz a imagem para frente */
        box-shadow: 0 0 5px #fff; /* Sombra para destaque */
        max-width: 75%; /* Limita a largura da imagem a 90% da largura da tela */
        height: 100%; /* Limita a altura da imagem a 90% da altura da tela */
        
    }

    /**/
    /**/
    /**/
    
    

}

